/*
Theme Name: Digital Fringe Theme
Theme URI: http://www.thedigitalfringe.com/
Description: Wordpress Theme for Digital Fringe
Author: CreativeFuse Initiative
Author URI: http://www.creativefuse.org/
Version: 1.0
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video {
	font-size:100%;
	font:inherit;
	padding:0;
	border:0;
	margin:0;
	vertical-align:baseline;
}

strong {
	font-weight: bold;
}

@font-face {
    font-family: 'JockeyOne';
    src: url('assets/font/jockeyone-regular-webfont.eot');
    src: url('assets/font/jockeyone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/font/jockeyone-regular-webfont.woff') format('woff'),
         url('assets/font/jockeyone-regular-webfont.ttf') format('truetype'),
         url('assets/font/jockeyone-regular-webfont.svg#jockey_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	line-height:1; 
	background: #f5f5f5;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	color: #6b6b6b;
}

h3 {
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: bold;
	color: #6b6b6b;
}

p {
	color: #464545;
	margin: 2em 0;
	line-height: 1.5em;
	font-weight: lighter;
	letter-spacing: 0.1em;
}

ol,ul {
	list-style:none;
}

.center {
	text-align: center;
	line-height: 1.25em;
	color: #6b6a6a;
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 0px white,
							 1px -1px 0px white,
							 -1px -1px 0px white,
							 -1px 1px 0px white,
							 1px 1px 4px #020202;
}

blockquote,q {
	quotes:none; 
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

.clear {
	clear:both;
}

.sticky {}

.bypostauthor {}

.wp-caption {}

.wp-caption-text {}

.gallery-caption {}

.alignright {}

.alignleft {}

.aligncenter {}

/* CUSTOM STYLES */

body {
	font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

.back-to-top {
	position: fixed;
	margin-right: 12%;
	right: 0;	
	display: block;
	border: solid 2px white;
	border-top: none;
	top: 0;
	padding: 0.5em;
	background: url(assets/img/nav_bg.png);
	color: #c6c6c6;
}

.back-to-top:hover {
	text-decoration: none;
	color: #bbbbbb;
}

.row-fluid {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background: url(assets/img/building.jpg) no-repeat;
	background-size: cover;
	padding: 2em 0 0;
	border-bottom: solid 2px #aab25f;
}

.logo {
	display: block;
	padding-left: 1em;
}

.logo:hover {
	text-decoration: none;
}

.logo h1 {
	font-size: 1.5em;
	text-shadow: 1px 2px 3px #050505;
}

.logo .white {
	color: #ffffff;
}

.logo .green {
	color: #aab25f;
}

.main-nav {
	margin-top: 3.5em;
}

.menu-main-navigation-container ul { 
	width: 100%;
}

.menu-main-navigation-container ul li a {
	text-transform: uppercase;
	font-weight: bold;
	color: #535353;
	font-size: 1em;
	float: left;
	padding: 0.85em 0;
	display: block;
	width: 24.5%;
	text-align: center;
	border: solid 2px #ffffff;
	border-right: none;
	background: url(assets/img/nav_bg.png);
}

.menu-main-navigation-container ul li:last-child a {
	border-right: solid 2px #ffffff;
}

.menu-main-navigation-container ul li a:hover {
	text-decoration: none;
	color: #000000;
	background: #d9ea31;
}

.search-button .icon-search {
	color: #f7f7f7;
	font-size: 1.75em;
	margin-bottom: 0.25em;
	display: block;
	text-shadow: 1px 0px 6px #000;
	text-align: right;
}

.search-button .icon-search:hover {
	text-decoration: none;
	color: #ffffff;
}

.text-container {
	text-align: center;
	margin-top: 3em;
}

.saving-butts {
	position: absolute;
	margin-top: -9em;
}

.slider-nav {
	background: rgba(0,0,0,0.6);
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	margin-top: 1em;
}

.slider-nav ul {
	display: inline;
}

.slider-nav li {
	float: left;
	width: 14%;
}

.slider-nav a {
	display: block;
	color: white;
	font-size: 2em;
	text-align: center;
	box-sizing: border-box;
	padding: 0.35em 0;
	border-left: solid 1px #000000;
	position: relative;
}

.slider-nav li:last-child a {
	border-right: solid 1px #000000;
}

.slider-nav a:hover {
	text-decoration: none;
	background: rgba(102,102,102,0.3);
}

.slider-nav .slider-label {
	position: absolute;
	margin-top: -34px;
	text-align: center;
	display: block;
	width: 100%;
	color: #aab25f;
	font-size: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
}

footer {
	background: url('assets/img/footer_bg.jpg');
	min-height: 200px;
	color: #f5f5f5;
	padding: 4em 0 0;
}

footer #copyright {
	text-transform: uppercase;
	font: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	font-size: 0.9em;
}

footer .privacy {
	color: #f5f5f5;
	text-decoration: none;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 0.9em;
}

footer .privacy:hover {
	text-decoration: underline;
}

footer p {
	font: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #f5f5f5;
	margin: 0;
}

footer a.icon {
	background: #abb82f;
	margin-right: 1em;
	text-align: center;
	display: block;
	width: 1em;
	height: 1em;
	float: left;
	border-radius: 100%;
	font-size: 2.5em;
	padding: 0.25em;
	margin-top: -0.5em;
}

footer a.icon:hover {
	background: #f5f5f5;
}

footer a:hover {
	text-decoration: none;
}

footer i {
	color: #333;
}

.modal h3,
.modal p {
	color: #020202;
}

.not-found {
	padding: 10em 0;
}

.not-found p {
	text-align: center;
}

.not-found-page-title {
	font-family: 'JockeyOne', sans-serif;
	font-size: 4.5em;
	text-align: center;
	text-transform: uppercase;
	color: #6b6a6a;
	text-shadow:
	2px 2px 0px white,
	-2px -2px 0px white,
	2px -2px 0px white,
	-2px 2px 0px white,
	1px 1px 6px #050505,
	1px -1px 6px #050505;
	letter-spacing: 0.1em;
}

.go-home-button {
	width: 200px;
	font-size: 1.2em !important;
	line-height: 2.4em;
	display: block;
	background-image: linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -o-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(180,193,63)),
		color-stop(0.72, rgb(169,183,46)),
		color-stop(0.86, rgb(160,173,39))
	);
	box-shadow: 0px 0px 8px #050505;
	border: solid 1px #aab82f;
	color: #ffffff;
	text-shadow:
	1px 1px 0px #d6d6d6,
	-1px -1px 0px #d6d6d6,
	1px -1px 0px #d6d6d6,
	-1px 1px 0px #d6d6d6,
	1px 1px 6px #050505;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

.go-home-button:hover {
	background-image: linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -o-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(160,173,39)),
		color-stop(0.72, rgb(169,183,46)),
		color-stop(0.86, rgb(180,193,63))
	);
	text-decoration: none;
	color: #ffffff;
}

.search-results-page-title,
.blog-template-page .page-title {
	font-family: 'JockeyOne', sans-serif;
	font-size: 4.5em;
	text-align: center;
	text-transform: uppercase;
	color: #6b6a6a;
	text-shadow:
	2px 2px 0px white,
	-2px -2px 0px white,
	2px -2px 0px white,
	-2px 2px 0px white,
	1px 1px 6px #050505,
	1px -1px 6px #050505;
	letter-spacing: 0.1em;
	margin: 1em 0;
}

.search-results .stroke {
	font-size: 1.5em;
	text-align: left;
	margin-bottom: 2em;
}

.search-results .entry-title a {
	color: #6b6b6b;
}

.search-results .entry-title a:hover {
	text-decoration: none;
}

.search-results .entry-summary p {
	margin: 0.5em 0 2em;
}

.with-right-border {
	border-right: solid 2px #aab25f;
	padding-right: 1.25em;
}

.with-bottom-border {
	border-bottom: solid 2px #aab25f;
	margin-bottom: 2em;
}

.page-title {
	font-family: 'JockeyOne', sans-serif;
	font-size: 4.5em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.what-we-do {
	background: #f5f5f5;
	border-bottom: solid 2px #aab25f;
	padding: 4em 0;
}

.what-we-do .page-title {
	color: #6b6a6a;
	text-shadow:
	2px 2px 0px white,
	-2px -2px 0px white,
	2px -2px 0px white,
	-2px 2px 0px white,
	1px 1px 6px #050505,
	1px -1px 6px #050505;
	letter-spacing: 0.1em;
}

.what-we-do p {
	text-align: center;
}

.hidden-header {
	color: #6b6a6a;
	text-shadow:
	1px 1px 0px white,
	-1px -1px 0px white,
	1px -1px 0px white,
	-1px 1px 0px white,
	1px 1px 4px #050505;
	letter-spacing: 0.1em;
	font-size: 2em;
	margin-bottom: 0.5em;
	text-align: center;
	max-width: 377px;
}

#print-trigger, 
#laminate-trigger, 
#mounting-trigger {
	cursor: pointer;
}

.print-container {
	height: 320px;
	width: 100%;
	overflow: hidden;
}

.print-info,
.laminate-info,
.mounting-info {
	width: 100%;
}

.print-container ul {
	list-style-type: disc;
	margin-left: 2em;
}

.print-container ul li {
	margin-bottom: 0.25em;
}

.print-img {
	background: url(assets/img/print.png) no-repeat center center;
	width: 100%;
	height: 320px;
	margin: 0 auto;
	float: left;
}

.laminate-img {
	background: url(assets/img/laminate.png) no-repeat center center;
	width: 100%;
	height: 320px;
	margin: 0 auto;
	float: left;
}

.mounting-img {
	background: url(assets/img/mounting.png) no-repeat center center;
	width: 100%;
	height: 320px;
	margin: 0 auto;
	float: left;
}

.stroke {
	text-align: center;
	color: #9ba157;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 
		1px 1px 0px white,
		-1px -1px 0px white,
		-1px 1px 0px white,
		1px -1px 0px white,
		1px 1px 3px #050505;
		letter-spacing: 0.2em;
		margin-bottom: 1em;
}

.border {
	border-bottom: solid 2px #abb82f;
	margin-bottom: 3em;
	padding-bottom: 0.5em;
}

.who-we-are {
	background: url(assets/img/who-we-are-bg.jpg);
	border-bottom: solid 2px #aab25f;
	padding: 4em 0;
}

.who-we-are section.item {
	min-height: 400px;
}

.who-we-are .page-title {
	color: #ffffff;
	text-shadow:
	2px 2px 0px #d6d6d6,
	-2px -2px 0px #d6d6d6,
	2px -2px 0px #d6d6d6,
	-2px 2px 0px #d6d6d6,
	1px 1px 6px #050505;
	letter-spacing: 0.1em;
}

.who-we-are p {
	text-align: center;
	margin-top: 0;
}

.who-we-are-slider {
	margin-bottom: 6em;
	display: block;
}

.who-we-are-slider ul {
	width: 100%;
}

.who-we-are-slider ul li a {
	display: block;
	float: left;
	color: #6b6b6b;
	text-align: center;
	width: 32.5%;
	border-right: solid 2px #abb82f;
	font-size: 1.35em;
	padding: 0.5em 0;
	text-transform: uppercase;
	border: solid 2px #abb82f;
	border-right: none;
	background: url(assets/img/nav_bg.png);
	cursor: pointer;
}

.who-we-are-slider ul li a:hover {
	text-decoration: none;
	color: #000000;
	background: #d9ea31;
}

.who-we-are-slider ul li:last-child a {
	border-right: solid 2px #abb82f;
}

.item img {
	border: solid 5px #abb82f;
	width: 290px;
	height: 290px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.item h2, .item p {
	text-align: left;
}

.client-tools {
	background: url(assets/img/client_tools_bg.jpg) no-repeat;
	background-size: cover;
	border-bottom: solid 2px #aab25f;
	padding: 4em 0;
}

.client-tools .page-title {
	color: #ffffff;
	text-shadow:
	2px 2px 0px #d6d6d6,
	-2px -2px 0px #d6d6d6,
	2px -2px 0px #d6d6d6,
	-2px 2px 0px #d6d6d6,
	1px 1px 6px #050505;
	letter-spacing: 0.1em;
}

.client-tool {
	border: solid 2px #aab25f;
	background: #f5f5f5;
	margin: 0 2em 2em;
}

.client-tool h3 {
	text-align: center;
	margin-top: 0.5em;
}

.client-tool p {
	width: 90%;
	display: block;
	margin: 3em auto;
	text-align: center;
}

.what-you-need-to-know {
	background-image: url(assets/img/what-you-need-to-know.png);
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #abb82f;
}

.file-upload-interface {
	background-image: url(assets/img/file-upload-interface.png);
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #abb82f;
}

.file-transfer-options {
	background-image: url(assets/img/file-transfer-options.png);
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #abb82f;
}

#need-to-know-expand {
	background: #f0f0f0;
	padding: 1em;
	box-shadow: 1px 1px 8px #000;
}

#need-to-know-expand .hidden-header {
	max-width: 100%;
	text-align: left;
}

.close-button {
	float: right;
	margin-top: -48px;
	font-size: 1.5em;
	cursor: pointer;
}

.close-button:hover {
	color: #abb82f;
}

.block-link {
	width: 100%;
	height: 3em;
	display: block;
	background: #aab82f;
	text-align: center;
	line-height: 3em;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	color: #6b6b6b;
}

.block-link:hover {
	color: #f0f0f0;
	text-decoration: none;
}

.blog-roll {
	border-bottom: solid 2px #aab25f;
	padding: 4em 0;
}

.blog-roll .page-title {
	color: #6b6a6a;
	text-shadow:
	2px 2px 0px white,
	-2px -2px 0px white,
	2px -2px 0px white,
	-2px 2px 0px white,
	1px 1px 6px #050505,
	1px -1px 6px #050505;
	letter-spacing: 0.1em;
}

.latest-news {
	border-right: solid 2px #aab82f;
	padding: 0 1em;
}

.latest-news img {
	width: 11em;
	height: 11em;
	float: left;
	border: solid 5px #aab82f;
	border-radius: 100%;
	margin: 0 2em 1em 0;
}

.blog-roll-sidebar img {
	width: 8em;
	height: 8em;
	border: solid 5px #aab82f;
	border-radius: 100%;
}

.blog-template-page img {
	width: 12em;
	height: 12em;
	border: solid 5px #aab82f;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.sample {
	border-bottom: solid 2px #aab82f;
	padding-bottom: 1em;
	margin-top: 0.1em;
	padding-top: 1em;
}

.sample:last-child {
	border-bottom: none;
}

.testimonials {
	background: url(assets/img/who-we-are-bg.jpg);
	border-bottom: solid 2px #aab25f;
	padding: 4em 0;
	min-height: 450px;
}

.testimonials .page-title {
	color: #ffffff;
	text-shadow:
	2px 2px 0px #d6d6d6,
	-2px -2px 0px #d6d6d6,
	2px -2px 0px #d6d6d6,
	-2px 2px 0px #d6d6d6,
	1px 1px 6px #050505;
	letter-spacing: 0.1em;	
}

.testimonials .test-nav a {
	font-size: 5em;
	color: #f5f5f5;
	text-shadow: 1px 1px 6px #050505;
	cursor: pointer;
	margin-top: 1em;
}

.testimonials .test-nav a:hover {
	color: white;
	text-decoration: none;
}

#testimonials-carousel .item {
	min-height: 14em;
}

#testimonials-carousel .item h2 {
	text-align: center;
	color: #ffffff;
	text-shadow:
	2px 2px 0px #d6d6d6,
	-2px -2px 0px #d6d6d6,
	2px -2px 0px #d6d6d6,
	-2px 2px 0px #d6d6d6,
	1px 1px 6px #050505;
	letter-spacing: 0.1em;
}

.contact {
	background: url(assets/img/contact_bg.jpg) no-repeat;
	background-size: cover;
	padding: 4em 0;
	border-bottom: solid 2px #aab25f;
}

.contact .page-title {
	color: #ffffff;
	text-shadow:
	2px 2px 0px #d6d6d6,
	-2px -2px 0px #d6d6d6,
	2px -2px 0px #d6d6d6,
	-2px 2px 0px #d6d6d6,
	1px 1px 6px #050505;
	letter-spacing: 0.1em;	
}

.general-info {
	background: url(assets/img/light_bg.png);
	margin: 0 2em;
	padding: 1em;
	box-shadow: 0px 0px 12px #050505;
}

.general-info h3 {
	color: #6b6a6a;
	text-shadow:
	1px 1px 0px white,
	-1px -1px 0px white,
	1px -1px 0px white,
	-1px 1px 0px white,
	1px 1px 6px #050505,
	1px -1px 6px #050505;
	letter-spacing: 0.1em;
}

.gform_wrapper {
	margin: 0 !important;
	padding: 0 !important;
}

.gform_wrapper .top_label .gfield_label {
	color: #6b6a6a;
	text-shadow:
	1px 1px 0px white,
	-1px -1px 0px white,
	1px -1px 0px white,
	-1px 1px 0px white,
	1px 1px 6px #050505,
	1px -1px 6px #050505;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: bold;
	color: #6b6b6b;
	margin: 0 0 0.25em !important;
}

.gform_wrapper input[type=text] {
	background: url(assets/img/light_bg.png);
	border: none;
	border-radius: 0;
	box-shadow: 0px 0px 8px #050505;
	font-size: 1em !important;
	font-weight: bold !important;
	height: 2em !important;
	padding-left: 0.5em !important;
}

.gform_wrapper textarea {
	background: url(assets/img/light_bg.png);
	border: none;
	border-radius: 0;
	box-shadow: 0px 0px 8px #050505;
	font-size: 1em !important;
	font-weight: bold !important;
	padding: 0.5em !important;
	max-width: 97.5%;
}

.gform_wrapper .gform_button {
	width: 100%;
	font-size: 1.2em !important;
	line-height: 2.4em;
	background-image: linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -o-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(180,193,63) 43%, rgb(169,183,46) 72%, rgb(160,173,39) 86%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(180,193,63)),
		color-stop(0.72, rgb(169,183,46)),
		color-stop(0.86, rgb(160,173,39))
	);
	box-shadow: 0px 0px 8px #050505;
	border: solid 1px #aab82f;
	color: #ffffff;
	text-shadow:
	1px 1px 0px #d6d6d6,
	-1px -1px 0px #d6d6d6,
	1px -1px 0px #d6d6d6,
	-1px 1px 0px #d6d6d6,
	1px 1px 6px #050505;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.gform_wrapper .gform_button:hover {
	background-image: linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -o-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(160,173,39) 43%, rgb(169,183,46) 72%, rgb(180,193,63) 86%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(160,173,39)),
		color-stop(0.72, rgb(169,183,46)),
		color-stop(0.86, rgb(180,193,63))
	);
}

.gform_wrapper li.gfield.gfield_error, 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background: none !important;
	border: none !important;
}

.gform_wrapper .validation_message, .gform_wrapper div.validation_error {
	color: #f5f5f5 !important;
	text-shadow: 0px 0px 3px #050505;
}

#gforms_confirmation_message {
	color: #6b6a6a;
	text-shadow:
	1px 1px 0px white,
	-1px -1px 0px white,
	1px -1px 0px white,
	-1px 1px 0px white,
	1px 1px 6px #050505,
	1px -1px 6px #050505;
	letter-spacing: 0.1em;
	font-size: 1.5em;
	font-weight: bold;
}

#privacyModal p {
	text-transform: none;
}

/* iPhone */
@media screen and (max-width: 480px) {
	.saving-butts {
		display: none;
	}

	.slider-label {
		font-size: 0px !important;
	}

	.search-button {
		display: none;
	}

	.page-title {
		font-size: 3em;
	}

	.logo {
		text-align: center;
	}

	.logo img {
		margin: 0 auto;
		display: block;
	}

	.main-nav {
		margin: 1em 0;
	}

	.menu-main-navigation-container ul li a {
		width: 99%;
		border-bottom: none;
		border-right: solid 2px #ffffff;
	}

	.menu-main-navigation-container ul li:last-child a {
		border-bottom: solid 2px #ffffff;
	}

	footer .span8 {
		margin-top: 20px;
	}

	.contact, .testimonials, .blog-roll, .client-tools, .who-we-are, .what-we-do, footer {
		padding: 4em 1em;
	}

	.latest-news {
		border-right: none !important;
		border-bottom: solid 2px #aab82f;
		margin-bottom: 1em;
	}

	.blog-roll-container img {
		margin: 0 auto 1em;
		display: block;
	}

	.blog-roll-container h2 {
		text-align: center;
	}

	.who-we-are img {
		margin-bottom: 1em;
	}

	.who-we-are h2 {
		text-align: center;
	}

	.who-we-are-slider ul li a {
		width: 100%;
		border-right: solid 2px #abb82f;
		border-bottom: none;
	}

	.who-we-are-slider ul li:last-child a {
		border-bottom: solid 2px #abb82f;
		margin-bottom: 1em;
	}

	.print-container {
		height: 320px;
	}

	footer a.icon {
		font-size: 2em;
	}
}

@media screen and (min-width : 481px) and (max-width : 767px) {
	.saving-butts {
		display: none;
	}

	.slider-label {
		font-size: 0px !important;
	}

	.search-button {
		display: none !important;
	}

	.logo img {
		margin: 0 auto;
		display: block;
	}

	.logo h1 {
		text-align: center;
	}
}

/* iPad Portait Orientation */
@media screen and (min-width : 768px) and (max-width : 1024px) {
	.saving-butts {
		display: none;
	}

	.slider-label {
		font-size: 0px !important;
	}

	.search-button {
		display: none !important;
	}

	.page-title {
		font-size: 3em;
	}

	.logo {
		text-align: center;
	}

	.logo img {
		margin: 0 auto;
		display: block;
	}

	.menu-main-navigation-container ul li a {
		width: 20%;
		height: 30px;
		padding: 0.5em 0.5em;
	}

	.contact, .testimonials, .blog-roll, .client-tools, .who-we-are, .what-we-do, footer {
		padding: 4em 1em;
	}

	footer a.icon {
		font-size: 1.75em;
		margin-right: 0.5em;
	}

	.client-tool {
		margin: 0 0.5em 2em;
	}

	.hidden-header {
		font-size: 1.5em;
	}

	.blog-roll-sidebar img {
		height: 6em;
		width: 6em;
	}

	.latest-news img {
		width: 9em;
		height: 9em;
	}

	.item img {
		width: 220px;
		height: 220px;
	}
}

/* iPad Landscape Orientation */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.saving-butts {
		display: none;
	}

	.slider-label {
		font-size: 0px !important;
	}

	.search-button {
		display: none;
	}

	.page-title {
		font-size: 3em;
	}

	.logo {
		text-align: center;
	}

	.logo img {
		margin: 0 auto;
		display: block;
	}
}*/